@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Kullanıcı Ekleme Sayfası</strong></p>
            <br />

            <div class="form-group mb-3">
                @Html.Label("Kullanıcı Adı")
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Kullanıcı Soyadı")
                @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Kullanıcı Şifre")
                @Html.TextBoxFor(x => x.UserPassword, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Kullanıcı Telefon")
                @Html.TextBoxFor(x => x.UserPhone, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Kullanıcı Mail")
                @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control" })
            </div>


            <div class="form-group mb-3">
                @Html.Label("Kullanıcı Durumu")
                <br />
                @Html.RadioButtonFor(x => x.UserStatus, "True")@Html.Label("Aktif")
                <br />
                @Html.RadioButtonFor(x => x.UserStatus, "False")@Html.Label("Pasif")
            </div>

            <div class="form-group mb-3">
                @Html.Label("Kullanıcı Oluşturulma Tarihi")
                @Html.TextBoxFor(x => x.UserCreationDate, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Rol")
                @Html.DropDownListFor(x => x.Permission, (List<SelectListItem>)ViewBag.vlr, new
                { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Bağlı Olduğu Bölüm")
                @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.vld, new
                { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Bağlı Olduğu Fakülte")
                @Html.DropDownListFor(x => x.FacultyID, (List<SelectListItem>)ViewBag.vlf, new
                { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.UserPath, htmlAttributes: new { @class = "control-label col-md" })
                <input type="file" name="UserPath" class="form-control" required placeholder="Resim Seçiniz" />
            </div>
            <button class="btn btn-primary">Kaydet</button>
            <a href="/User/Index" class="btn btn-primary m-md-2">Geri Git</a>
        </div>
    </div>
}

