@model EntityLayer.Concrete.User

@{
    ViewBag.Title = "ChangeMyPasswordTwo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangeMyPasswordTwo", "User", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Şifre Güncelleme Sayfası</strong></p>
            <br />

            @Html.HiddenFor(model => model.UserID)

            <div class="form-group">
            <input type="password" name="UserPassword" class="form-control" id="name" placeholder="Yeni Şifreniz" />
            <div class="validation"></div>
        </div>
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.UserSurname)
            @Html.HiddenFor(model => model.UserPhone)
            @Html.HiddenFor(model => model.UserCreationDate)
            @Html.HiddenFor(model => model.UserMail)
            @Html.HiddenFor(model => model.UserPath)
            @Html.HiddenFor(model => model.UserStatus)
            @Html.HiddenFor(model => model.Permission)
            @Html.HiddenFor(model => model.DepartmentID)
            @Html.HiddenFor(model => model.FacultyID)
            <button class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}

