@using EntityLayer.Concrete
@model List<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string checkStatus = "";
    string buttonStatusColor = "";
    string badgeStatusColor = "";
    string userStatus = "";
}
<br />

<div class="col-md-12 my-auto">
    <h2>Kullanıcı Yönetim Sayfası</h2>
    <br />

    <div>
        <table class="table table-bordered table-hover mb-0">
            <tr>
                @*<th>#</th>*@
                <th>Fotoğraf</th>
                <th>Adı</th>
                <th>Soyadı</th>
                @*<th>Parola</th>*@
                <th>Telefon</th>
                <th>E-Mail</th>
                <th>Durum</th>
                <th>Tarih</th>
                <th>Rol</th>
                <th>Bölüm</th>
                <th>Fakülte</th>
                <th>Güncelle</th>
                <th>Aktif/Pasif</th>
                <th>Sil</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>@item.UserID</td>*@
                    <td>
                        <span class="avatar avatar-md mt-2">
                            <img src="@item.UserPath" alt="..." class="avatar-img rounded-top">
                        </span>
                    </td>
                    <td>@item.UserName</td>
                    <td>@item.UserSurname</td>
                    @*<td>@item.UserPassword</td>*@
                    <td>@item.UserPhone</td>
                    <td>@item.UserMail</td>
                    <td>
                        @switch (item.UserStatus)
                        {
                            case true:
                                badgeStatusColor = "badge badge-success";
                                buttonStatusColor = "btn btn-warning";
                                userStatus = "Aktif Durum";
                                break;
                            case false:
                                badgeStatusColor = "badge badge-warning";
                                buttonStatusColor = "btn btn-success";
                                userStatus = "Pasif Durum";
                                break;
                        }
                        <span class="@badgeStatusColor">@userStatus</span>
                    </td>
                    <td>
                        <div class="time-label">
                            <span>@(((DateTime)item.UserCreationDate).ToString("dd.MM.yyyy"))</span>
                        </div>
                    </td>
                    <td>@item.Role.RoleName</td>
                    <td>@item.Department.DepartmentName</td>
                    <td>@item.Faculty.FacultyName</td>
                    <td><a href="/User/EditUser/@item.UserID" class="btn btn-info">Güncelle</a></td>
                    <td>
                        <a class="@buttonStatusColor" href="/User/ChangeStatusUser/@item.UserID">

                            @if (item.UserStatus == true)
                            {
                                checkStatus = "Pasif Yap";
                            }
                            else
                            {
                                checkStatus = "Aktif Yap";
                            }
                            @checkStatus

                        </a>
                    </td>
                    <td><a href="/User/DeleteUser/@item.UserID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </table>
    </div>
    <br />
    <a href="/User/AddUser" class="btn btn-primary">Yeni Kullanıcı Yarat</a>
    <a href="/User/ReportUser" class="btn btn-primary m-md-2">Rapor</a>
    <a href="/UserGallery/Index" class="btn btn-primary m-md-2">Galeri</a>
</div>