@using EntityLayer.Concrete
@model List<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<div class="col-md-12 my-auto">
    <h2>Kullanıcı Yönetim Sayfası</h2>
    <div>
        <table class="table table-bordered table-hover mb-0">
            <tr>
                <th>#</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Parola</th>
                <th>Telefon</th>
                <th>E-Mail</th>
                <th>Durum</th>
                <th>Yaratılış Tarihi</th>
                <th>Rol</th>
                <th>Bölüm</th>
                <th>Fakülte</th>
                <th>Aktif Yap</th>
                <th>Pasif Yap</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.UserID</td>
            <td>@item.UserName</td>
            <td>@item.UserSurname</td>
            <td>@item.UserPassword</td>
            <td>@item.UserPhone</td>
            <td>@item.UserMail</td>
            <td>@item.UserStatus</td>
            <td>
                <div class="time-label">
                    <span>@(((DateTime)item.UserCreationDate).ToString("dd-MM-yyyy"))</span>
                </div>
            </td>
            <td>@item.Role.RoleName</td>
            <td>@item.Department.DepartmentName</td>
            <td>@item.Faculty.FacultyName</td>
            <td><a href="#" class="btn btn-primary">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-warning">Pasif Yap</a></td>
            <td><a href="/User/EditUser/@item.UserID" class="btn btn-info">Güncelle</a></td>
            <td><a href="/User/DeleteUser/@item.UserID" class="btn btn-danger">Sil</a></td>
        </tr>
            }
        </table>
    </div>
    <br />
    <a href="/User/AddUser" class="btn btn-success">Yeni Kullanıcı Yarat</a>
</div>


