@model EntityLayer.Concrete.Faculty
@{
    ViewBag.Title = "EditFaculty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("EditFaculty", "Faculty", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Fakülte Güncelleme Sayfası</strong></p>

            @Html.HiddenFor(model => model.FacultyID)

            @*<div class="form-group mb-3">
            @Html.Label("Fakülte ID")
            @Html.TextBoxFor(x => x.FacultyID, new { @class = "form-control" })
        </div>*@

            <div class="form-group mb-3">
                @Html.Label("Fakülte Adı")
                @Html.TextBoxFor(x => x.FacultyName, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Fakülte Adresi")
                @Html.TextBoxFor(x => x.FacultyAddress, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Fakülte Durumu")
                @Html.TextBoxFor(x => x.FacultyStatus, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Fakülte Kuruluş Tarihi")
                @Html.TextBoxFor(x => x.FacultyCreationDate, new { @class = "form-control" })
            </div>
            <button class="btn btn-success">Güncelle</button>
            <a href="/Faculty/Index" class="btn btn-success m-md-2">Geri Git</a>
        </div>
    </div>
}
