@model EntityLayer.Concrete.Role
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditRole", "Role", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Rol Güncelleme Sayfası</strong></p>
            <br />
            @Html.HiddenFor(model => model.RoleID)

            @*<div class="form-group mb-3">
            @Html.Label("Rol ID")
            @Html.TextBoxFor(x => x.RoleID, new { @class = "form-control" })
        </div>*@

            <div class="form-group mb-3">
                @Html.Label("Rol Adı")
                @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Rol Kısaltması")
                @Html.TextBoxFor(x => x.RoleShortName, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Rol Durumu")
                @Html.TextBoxFor(x => x.RoleStatus, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Rol Açıklaması")
                @Html.TextBoxFor(x => x.RoleDescription, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Rol Yaratılış Tarihi")
                @Html.TextBoxFor(x => x.RoleCreationDate, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Güncelle</button>
            <a href="/Role/Index" class="btn btn-primary m-md-2">Geri Git</a>
        </div>
    </div>
}
