@using EntityLayer.Concrete
@model List<Role>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<div class="col-md-12 my-auto">
    <h2>Rol Yönetim Sayfası</h2>
    <div>
        <table class="table table-bordered table-hover mb-0">
            <tr>
                <th>#</th>
                <th>İsim</th>
                <th>Rol Kısaltması</th>
                <th>Durum</th>
                <th>Açıklama</th>
                <th>Yaratılış Tarihi</th>
                <th>Aktif Yap</th>
                <th>Pasif Yap</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RoleID</td>
                    <td>@item.RoleName</td>
                    <td>@item.RoleShortName</td>
                    <td>@item.RoleStatus</td>
                    <td>@item.RoleDescription</td>
                    <td>
                        <div class="time-label">
                            <span>@(((DateTime)item.RoleCreationDate).ToString("dd-MM-yyyy"))</span>
                        </div>
                    </td>
                    <td><a href="#" class="btn btn-primary">Aktif Yap</a></td>
                    <td><a href="#" class="btn btn-warning">Pasif Yap</a></td>
                    <td><a href="/Role/EditRole/@item.RoleID" class="btn btn-info">Güncelle</a></td>
                    <td><a href="/Role/DeleteRole/@item.RoleID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </table>
    </div>
    <br />
    <a href="/Role/AddRole" class="btn btn-success">Yeni Rol Yarat</a>
</div>

