@model EntityLayer.Concrete.Department
@{
    ViewBag.Title = "EditDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("EditDepartment", "Department", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Bölüm Güncelleme Sayfası</strong></p>

            @Html.HiddenFor(model => model.DepartmentID)

            @*<div class="form-group mb-3">
            @Html.Label("Bölüm ID")
            @Html.TextBoxFor(x => x.DepartmentID, new { @class = "form-control" })
        </div>*@

            <div class="form-group mb-3">
                @Html.Label("Bölüm Adı")
                @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Bölüm Adresi")
                @Html.TextBoxFor(x => x.DepartmentAddress, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Bölüm Durumu")
                @Html.TextBoxFor(x => x.DepartmentStatus, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Bölüm Kuruluş Tarihi")
                @Html.TextBoxFor(x => x.DepartmentCreationDate, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Fakülte")
                @Html.DropDownListFor(x => x.FacultyID, (List<SelectListItem>)ViewBag.vlf,
                new { @class = "form-control" })
            </div>
            <button class="btn btn-success">Güncelle</button>
            <a href="/Department/Index" class="btn btn-success m-md-2">Geri Git</a>
        </div>
    </div>
}

