@using EntityLayer.Concrete
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<div class="col-md-12 my-auto">
    <h2>Bölüm Yönetim Sayfası</h2>
    <div>
        <table class="table table-bordered table-hover mb-0">
            <tr>
                <th>#</th>
                <th>İsim</th>
                <th>Adres</th>
                <th>Durum</th>
                <th>Tarih</th>
                <th>Fakülte</th>
                <th>Aktif Yap</th>
                <th>Pasif Yap</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.DepartmentID</td>
            <td>@item.DepartmentName</td>
            <td>@item.DepartmentAddress</td>
            <td>@item.DepartmentStatus</td>
            <td>
                <div class="time-label">
                    <span>@(((DateTime)item.DepartmentCreationDate).ToString("dd-MM-yyyy"))</span>
                </div>
            </td>
            <td>@item.Faculty.FacultyName</td>
            <td><a href="#" class="btn btn-primary">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-warning">Pasif Yap</a></td>
            <td><a href="/Department/EditDepartment/@item.DepartmentID" class="btn btn-info">Güncelle</a></td>
            <td><a href="/Department/DeleteDepartment/@item.DepartmentID" class="btn btn-danger">Sil</a></td>
        </tr>
            }
        </table>
    </div>
    <br />
    <a href="/Department/AddDepartment" class="btn btn-success">Yeni Bölüm Yarat</a>
</div>

