@model EntityLayer.Concrete.New
@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddNew", "New", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Haber Ekleme Sayfası</strong></p>

            <div class="form-group mb-3">
                @Html.Label("Haber Adı")
                @Html.TextBoxFor(x => x.NewName, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(x => x.NewName)*@
            </div>

            <div class="form-group mb-3">
                @Html.Label("Haber Tarihi")
                @Html.TextBoxFor(x => x.NewCreationDate, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(x => x.NewCreationDate)*@
            </div>

            <div class="form-group mb-3">
                @Html.Label("Haber Açıklaması")
                @Html.TextBoxFor(x => x.NewDescription, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(x => x.NewDescription)*@
            </div>

            <div class="form-group mb-3">
                @Html.Label("Haber Durumu")
                @Html.TextBoxFor(x => x.NewStatus, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(x => x.NewStatus)*@
            </div>

            <div class="form-group mb-3">
                @Html.Label("Tv")
                @Html.DropDownListFor(x => x.TvID, (List<SelectListItem>)ViewBag.vlt, new
                { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("İçerik Sahibi")
                @Html.DropDownListFor(x => x.UserID, (List<SelectListItem>)ViewBag.vlu, new
                { @class = "form-control" })
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.NewPath, htmlAttributes: new { @class = "control-label col-md" })
                <input type="file" name="NewPath" class="form-control" required placeholder="Resim Seçiniz" />
            </div>
            <br />
            <button class="btn btn-success">Kaydet</button>
        </div>
    </div>
}
