@using EntityLayer.Concrete
@model List<New>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="col-md-12 my-auto">
    <h2>Haber Yönetim Sayfası</h2>
    <div>
        <table class="table table-bordered table-hover mb-0">
            <tr>
                <th>#</th>
                <th>İsim</th>
                <th>Tarih</th>
                <th>İçerik</th>
                <th>Durum</th>
                <th>Açıklama</th>
                <th>İçerik Üreticisi</th>
                <th>Haber Ekranı</th>
                <th>Aktif Yap</th>
                <th>Pasif Yap</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.NewID</td>
            <td>@item.NewName</td>
            <td>
                <div class="time-label">
                    <span>@(((DateTime)item.NewCreationDate).ToString("dd-MM-yyyy"))</span>
                </div>
            </td>
            <td>@item.NewPath</td>
            <td>@item.NewStatus</td>
            <td>@item.NewDescription</td>
            <td>@item.User.UserName</td>
            <td>@item.Tv.TvDescription</td>
            <td><a href="#" class="btn btn-primary">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-warning">Pasif Yap</a></td>
            <td><a href="/New/EditNew/@item.NewID" class="btn btn-info">Güncelle</a></td>
            <td><a href="/New/DeleteNew/@item.NewID" class="btn btn-danger">Sil</a></td>
        </tr>
            }
        </table>
    </div>
    <br />
    <a href="/New/AddNew" class="btn btn-success">Yeni Haber Yarat</a>
</div>

