@model EntityLayer.Concrete.Tv
@{
    ViewBag.Title = "AddTv";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddTv", "Tv", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Tv Ekleme Sayfası</strong></p>
            <br />

            <div class="form-group mb-3">
                @Html.Label("Tv Açıklaması")
                @Html.TextBoxFor(x => x.TvDescription, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Tv Adresi")
                @Html.TextBoxFor(x => x.TvAddress, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Tarih")
                @Html.TextBoxFor(x => x.TvCreationDate, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Durum")
                @Html.TextBoxFor(x => x.TvStatus, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Bölüm")
                @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.vld, new
                { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Kaydet</button>
            <a href="/Tv/Index" class="btn btn-primary m-md-2">Geri Git</a>
        </div>
    </div>
}

