@model EntityLayer.Concrete.Tv
@{
    ViewBag.Title = "EditTv";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditTv", "Tv", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Ekran Güncelleme Sayfası</strong></p>
            <br />

            @Html.HiddenFor(model => model.TvID)

            @*<div class="form-group mb-3">
            @Html.Label("Tv ID")
            @Html.TextBoxFor(x => x.TvID, new { @class = "form-control" })
        </div>*@

            <div class="form-group mb-3">
                @Html.Label("Ekran Açıklaması")
                @Html.TextBoxFor(x => x.TvDescription, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Ekran Adresi")
                @Html.TextBoxFor(x => x.TvAddress, new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Ekran Yaratılış Tarihi")
                @Html.TextBoxFor(x => x.TvCreationDate, Model.TvCreationDate.ToString("dd.MM.yyyy"), new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.Label("Bağlı Olduğu Bölüm")
                @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.vld,
                new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Güncelle</button>
            <a href="/Tv/Index" class="btn btn-primary m-md-2">Geri Git</a>
        </div>
    </div>
}