@using EntityLayer.Concrete
@model List<Tv>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string checkStatus = "";
    string buttonStatusColor = "";
    string badgeStatusColor = "";
    string tvStatus = "";
}
<br />

<div class="col-md-12 my-auto">
    <h2>Tv Yönetim Sayfası</h2>
    <br />

    <div>
        <table class="table table-bordered table-hover mb-0">
            <tr>
                @*<th>#</th>*@
                <th>Açıklama</th>
                <th>Adres</th>
                <th>Tarih</th>
                <th>Durum</th>
                <th>Bölüm</th>
                <th>Güncelle</th>
                <th>Aktif/Pasif</th>
                <th>Sil</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>@item.TvID</td>*@
                    <td>@item.TvDescription</td>
                    <td>@item.TvAddress</td>
                    <td>
                        <div class="time-label">
                            <span>@(((DateTime)item.TvCreationDate).ToString("dd-MM-yyyy"))</span>
                        </div>
                    </td>
                    <td>
                        @switch (item.TvStatus)
                        {
                            case true:
                                badgeStatusColor = "badge badge-success";
                                buttonStatusColor = "btn btn-warning";
                                tvStatus = "Aktif Durum";
                                break;
                            case false:
                                badgeStatusColor = "badge badge-warning";
                                buttonStatusColor = "btn btn-success";
                                tvStatus = "Pasif Durum";
                                break;
                        }
                        <span class="@badgeStatusColor">@tvStatus</span>
                    </td>
                    <td>@item.Department.DepartmentName</td>
                    <td><a href="/Tv/EditTv/@item.TvID" class="btn btn-info">Güncelle</a></td>
                    <td>
                        <a class="@buttonStatusColor" href="/Tv/ChangeStatusTv/@item.TvID">

                            @if (item.TvStatus == true)
                            {
                                checkStatus = "Pasif Yap";
                            }
                            else
                            {
                                checkStatus = "Aktif Yap";
                            }
                            @checkStatus

                        </a>
                    </td>
                    <td><a href="/Tv/DeleteTv/@item.TvID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </table>
    </div>
    <br />
    <a href="/Tv/AddTv" class="btn btn-primary">Yeni Ekran Yarat</a>
    <a href="/Tv/ReportTv" class="btn btn-primary m-md-2">Rapor</a>
</div>

